@import "tailwindcss";
.clip-ellipse {
  clip-path: ellipse(80% 100% at 0% 50%);
}

@media (max-width: 768px) {
  .clip-ellipse {
    clip-path: ellipse(100% 100% at 0% 50%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: "Roboto", sans-serif;
}


